/* h2{
    color:aqua;
}
p{
    color:brown;
    font-size: 10px;
}
.par{
    color:turquoise;
}
#jk{
    color:red;
}
/* div{
    height:200px;
    width:200px;
    color:red;
    background-color:cadetblue;
    text-align:center;
    align-content:center;
    margin:100px;
    border: 1px solid red;
} */
/* h3{
    color:rgb(111, 16, 201);
    border: 3px solid black;
    text-align:center;
    font-size:25px;
}
.jk2
{
    display: inline;
}
.box{
padding:15px;
height:50px;
display:inline-block;
text-align:center;
margin:10px;

}
.AS{
    color:black;
}
.box1
{
background-color: #b7be25;
height:200px;
width:100px;
}
.box2
{
    background-color: #e21d5c;
    height:200px;
    width:100px;
}
.box3
{
     background-color: #b8e2f2;
    height:200px;
    width:100px;
} */.container{
    display:flex;
    height:600px;
    width:1000px;
    background-color:aqua;
    border:1px solid black;
    /* flex-direction:column-reverse; */
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    gap: 10px;
}
.item{
    height:100px;
    width:200px;
    border:1px solid black;
    background-color:chocolate;
    text-align:center;
    align-content:center;
    flex-grow:1;
}
.item2{
    order:-1;
    flex-grow:2;
    align-self:flex-end;
}